body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:495px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11737 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:90px;
  width:118px;
  height:60px;
  display:flex;
}
#u11737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11738 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:202px;
  width:100px;
  height:60px;
  display:flex;
}
#u11738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11739 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:325px;
  width:100px;
  height:60px;
  display:flex;
}
#u11739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11740 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:440px;
  width:100px;
  height:60px;
  display:flex;
}
#u11740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11741 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:558px;
  width:118px;
  height:60px;
  display:flex;
}
#u11741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11742 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:262px;
  width:0px;
  height:0px;
}
#u11742_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:68px;
}
#u11742_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:50px;
  width:18px;
  height:19px;
}
#u11742_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11743 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:385px;
  width:0px;
  height:0px;
}
#u11743_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u11743_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u11743_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11744 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:500px;
  width:0px;
  height:0px;
}
#u11744_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u11744_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:19px;
}
#u11744_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11745 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:510px;
  width:14px;
  height:16px;
  display:flex;
}
#u11745 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11745_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11746 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:510px;
  width:14px;
  height:16px;
  display:flex;
}
#u11746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11747 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:150px;
  width:0px;
  height:0px;
}
#u11747_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u11747_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u11747_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:156px;
}
#u11748 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:165px;
  width:179px;
  height:156px;
  display:flex;
  text-align:left;
}
#u11748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11749 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:470px;
  width:0px;
  height:0px;
}
#u11749_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-5px;
  width:57px;
  height:10px;
}
#u11749_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-5px;
  width:10px;
  height:128px;
}
#u11749_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:113px;
  width:48px;
  height:10px;
}
#u11749_seg3 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:109px;
  width:19px;
  height:18px;
}
#u11749_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
