body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13239 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:87px;
  width:118px;
  height:60px;
  display:flex;
}
#u13239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13240 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:191px;
  width:100px;
  height:60px;
  display:flex;
}
#u13240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13241 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:322px;
  width:100px;
  height:60px;
  display:flex;
}
#u13241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13242 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:437px;
  width:100px;
  height:60px;
  display:flex;
}
#u13242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13243 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:770px;
  width:118px;
  height:60px;
  display:flex;
}
#u13243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13244 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:251px;
  width:0px;
  height:0px;
}
#u13244_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:76px;
}
#u13244_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:58px;
  width:18px;
  height:19px;
}
#u13244_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13245 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:382px;
  width:0px;
  height:0px;
}
#u13245_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u13245_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u13245_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13246 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:507px;
  width:14px;
  height:16px;
  display:flex;
}
#u13246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13247 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:541px;
  width:100px;
  height:60px;
  display:flex;
}
#u13247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13248 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:656px;
  width:100px;
  height:60px;
  display:flex;
}
#u13248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13249 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:497px;
  width:0px;
  height:0px;
}
#u13249_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u13249_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u13249_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13250 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:601px;
  width:0px;
  height:0px;
}
#u13250_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u13250_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u13250_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13251 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:716px;
  width:0px;
  height:0px;
}
#u13251_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:39px;
}
#u13251_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:29px;
  width:15px;
  height:10px;
}
#u13251_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:29px;
  width:10px;
  height:20px;
}
#u13251_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:39px;
  width:15px;
  height:10px;
}
#u13251_seg4 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:39px;
  width:10px;
  height:15px;
}
#u13251_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u13251_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13252 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:726px;
  width:14px;
  height:16px;
  display:flex;
}
#u13252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13252_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13253 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:726px;
  width:15px;
  height:16px;
  display:flex;
}
#u13253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13254 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:599px;
  width:15px;
  height:16px;
  display:flex;
}
#u13254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13255 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:147px;
  width:0px;
  height:0px;
}
#u13255_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u13255_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u13255_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13256 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:467px;
  width:0px;
  height:0px;
}
#u13256_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-5px;
  width:30px;
  height:10px;
}
#u13256_seg1 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-5px;
  width:10px;
  height:343px;
}
#u13256_seg2 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:328px;
  width:21px;
  height:10px;
}
#u13256_seg3 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:324px;
  width:19px;
  height:18px;
}
#u13256_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:154px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13257 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:686px;
  width:0px;
  height:0px;
}
#u13257_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:30px;
  height:10px;
}
#u13257_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-5px;
  width:10px;
  height:124px;
}
#u13257_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:109px;
  width:21px;
  height:10px;
}
#u13257_seg3 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:105px;
  width:19px;
  height:18px;
}
#u13257_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
